*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
composeApp/build
composeApp/google
composeApp/fdroid
composeApp/src/commonMain/composeResources/files