<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.apps.adrcotfas.goodtime"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".Upgrade.UpgradeActivity"
            android:parentActivityName=".Main.TimerActivity"
            android:label="@string/support_the_developer">
        </activity>
    </application>

</manifest>