version: 2.1

orbs:
  android: circleci/android@3.2.0

jobs:
  build-android:
    executor:
      name: android/android-docker
      tag: 2025.12.1

    steps:
      - checkout
      - android/restore_build_cache
      - android/restore_gradle_cache
      - run:
          name: Check Android
          command: ./gradlew :composeApp:check
      - run:
          name: Check Spotless
          command: ./gradlew spotlessCheck
      - android/save_build_cache
      - android/save_gradle_cache

workflows:
  build-all:
    jobs:
      - build-android:
          filters:
            branches:
              only:
                - master