<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.apps.adrcotfas.goodtime.cloudbackup</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>RevenueCatApiKeyDebug</key>
	<string>test_mIjxZUKugfUbtAZNjpvxaWynKcD</string>
	<key>RevenueCatApiKeyRelease</key>
	<string>appl_YPAaDSHuUxyiHObGNkmupSMlNWR</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>fetch</string>
	</array>
    <key>LSSupportsOpeningDocumentsInPlace</key>
    <true/>
    <key>UIFileSharingEnabled</key>
    <true/>
    <key>NSUbiquitousContainers</key>
    <dict>
        <key>iCloud.app.goodtime.productivity</key>
        <dict>
            <key>NSUbiquitousContainerIsDocumentScopePublic</key>
            <true/>
            <key>NSUbiquitousContainerSupportedFolderLevels</key>
            <string>Any</string>
            <key>NSUbiquitousContainerName</key>
            <string>Goodtime</string>
        </dict>
    </dict>
</dict>
</plist>
