<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>Goodtime</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>NSSupportsLiveActivitiesFrequentUpdates</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Goodtime needs access to the camera to use the flashlight for timer notifications.</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
	</array>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.apps.adrcotfas.goodtime.sessionreset</string>
	</array>
	<key>RevenueCatApiKeyDebug</key>
	<string>test_mIjxZUKugfUbtAZNjpvxaWynKcD</string>
	<key>RevenueCatApiKeyRelease</key>
	<string>test_mIjxZUKugfUbtAZNjpvxaWynKcD</string>
</dict>
</plist>
